body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

p {
    color: #666;
    line-height: 1.5;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;

}

header h1 {
    margin-bottom: 0.5rem;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}
.v{
    height: 50px;
    width: 50px;
    text-align: left;
    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px;
        position: relative;
        bottom: 0;
        width: 100%;
      }
      
      /* Additional styling for the footer content */
      .footer-content {
        max-width: 1200px; /* Adjust as needed */
        margin: 0 auto; /* Center align the content */